<template>
  <div>
    <div class="row">
      <div class="col-md-6">
        <br>
        <br>
        <h4>Daftar User</h4>
        <br>
        <!-- prevent form submit untuk reload halaman, kemudian memanggil function addData() -->
        <form @submit.prevent="addData()">
          <div class="form-group">
            <label>Nama</label>
            <input
              type="textfield"
              class="form-control"
              placeholder="Masukkan Nama Anda"
              v-model="form.nama"
              required
            >
          </div>
          <div class="form-group">
            <label>No. Handphone</label>
            <input
              type="number"
              class="form-control"
              placeholder="Masukkan Nomor Handphone Anda"
              v-model="form.nohp"
              required
            >
          </div>
          <div class="form-group">
            <label>E-mail</label>
            <input
              type="email"
              class="form-control"
              placeholder="Masukkan E-mail Anda"
              v-model="form.email"
              required
            >
          </div>
          <div class="form-group">
            <label>Password</label>
            <input
              type="password"
              class="form-control"
              placeholder="Masukkan Password Anda"
              v-model="form.password"
              required
            >
          </div>
          <button class="btn btn-primary">Daftar</button>
        </form>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data(){
    return{
      form:{
        firstName: '',
        lastName: ''
      }
    }
  },
  methods: {
    addData() {
      // post data ke api menggunakan axios
      axios
        .post('/api/register/user', {
          name: this.form.nama,
          email: this.form.email,
          no_hp: this.form.nohp,
          password: this.form.password,
        })
        .then(response =>{
          alert("Berhasil Daftar")
        })
        .catch(response =>{
            if(response.response.data.errors){
                alert(JSON.stringify(response.response.data.errors))
            } else {
                alert("Berhasil Daftar")
            }
        })
        
    }
  }
};
</script>