<template>
<div>
    <br>
    <br>
        <form @submit.prevent="logout()">
            <button class="btn btn-danger">Logout</button>
        </form>
        <br>
        <h5>Selamat Datang, {{namaa}}</h5><br>
        <button class="btn btn-primary" @click="film()">Lihat Film</button>
        &nbsp; &nbsp; &nbsp; &nbsp; 
        <button class="btn btn-primary" @click="riwayat()">Riwayat Pembelian</button>
  </div>
</template>

<script>
    export default {
        mounted() {
            axios.defaults.headers.common['Authorization'] = `Bearer ${window.localStorage.getItem('usertoken')}`
            console.log(window.localStorage.getItem('usertoken'))
            console.log(this.$isLogin)
            axios
            .get('/api/user/info',{
                token: `Bearer ${window.localStorage.getItem('usertoken')}`
            })
            .then(response =>{
                this['namaa'] = response.data.user.name;
            })
        },
        data(){
            return{namaa:'heheheh'}
        },
        methods:{
        logout(){
                axios
                .post('/api/user/logout', {
            
                })
                .catch(response => {
                    
                })
                .then(success => {
                    alert("Berhasil Logout")
                    this.$router.push({name: 'loginUser'})
                })
            },
        film(){
                this.$router.push({name: 'showFilm'})
            },
        riwayat(){
                this.$router.push({name: 'riwayat'})
            }
        }
    }
</script>
