<template>
<div class="container">
    <br>
    <h1>Daftar Film</h1>
    <br>
    <table id="app" class="display table" width="100%">
    <tbody>
        <tr>
            <td>id_film</td>
            <td>Judul Film</td>
            <td>Harga</td>
            <td>created_at</td>
            <td>updated_at</td>
            <td>Aksi</td>
        </tr>
        <tr v-for="item in obj" :key="item.id">
            <td> {{ item.id }}</td>
            <td> {{ item.title }}</td>
            <td> Rp. {{ item.price }},-</td>
            <td> {{ item.created_at}}</td>
            <td> {{ item.updated_at}}</td>
            <td> 
                <button class="btn btn-secondary" @click="beli(item.id)">Beli</button>
            </td>
        </tr>
    </tbody>
    </table>
</div>
</template>

<script>
var obj = [{id:'satu'},{id: 'dua'}]
const today = new Date();
const date = today.getFullYear()+'-'+(today.getMonth()+1)+'-'+today.getDate();
  export default {
    data () {
        axios
        .get('/api/user/film')
        .then(response =>{
            // alert(JSON.stringify(response.data))
            this.obj = response.data
        })
        return {obj}
    },
    mounted(){
        console.log(date)
    },
    methods:{
        beli(id){
            axios
            .post('/api/user/ticket/buy',{
                film_id: id,
                ticket_date: date
            })
            .then(response =>{
                alert('Berhasil Membeli')
            })
        }
    },
  }
</script>

<style scoped></style>