<template>
  <div>
    <div class="row">
      <div class="col-md-6">
        <br>
        <br>
        <h4>Masuk User</h4>
        <br>
        <!-- prevent form submit untuk reload halaman, kemudian memanggil function addData() -->
        <form @submit.prevent="login()">
          <div class="form-group">
            <label>No. Handphone</label>
            <input
              type="number"
              class="form-control"
              placeholder="Masukkan No. Handphone"
              v-model="form.nohp"
              required
            >
          </div>
          <div class="form-group">
            <label>Password</label>
            <input
              type="password"
              class="form-control"
              placeholder="Masukkan Password"
              v-model="form.password"
              required
            >
          </div>
          <button class="btn btn-primary">Masuk</button>
        </form>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data(){
    return{
      form:{
        firstName: '',
        lastName: ''
      }
    }
  },
  methods: {
    login() {
      // post data ke api menggunakan axios
      axios
        .post('/api/login/user', {
          no_hp: this.form.nohp,
          password: this.form.password,
        })
        .catch(response => {
            alert("Gagal Masuk, Periksa No. Handphone atau Password Anda")
        })
        .then(success =>{
            if(success.data.token){
                localStorage.setItem('usertoken',success.data.token)
                this.$isLogin = 0
                axios.get('/api/user/dashboard',{
                    headers: {
                        Accept:"application/json",
                        Authorization: `Bearer ${success.data.token}`,
                    }
                })
                .then(response => {
                    this.$router.push({name: 'dashboardUser'})
                })
            }
        })
    }
  }
};
</script>