<template>
<div class="container">
    <br>
    <h1>Riwayat Pembelian Tiket</h1>
    <br>
    <table id="app" class="display table" width="100%">
    <tbody>
        <tr>
            <td>id_film</td>
            <td>Judul Film</td>
            <td>Harga</td>
            <td>Ticket_Date</td>
        </tr>
        <tr v-for="item in obj" :key="item.id">
            <td> {{ item.id }}</td>
            <td> {{ item.title }}</td>
            <td> Rp. {{ item.price }},-</td>
            <td> {{ item.ticket_date}}</td>
        </tr>
    </tbody>
    </table>
</div>
</template>
<script>
var obj = [{id:'satu'},{id: 'dua'}]
  export default {
    data () {
        axios
        .get('/api/user/ticket')
        .then(response =>{
            // alert(JSON.stringify(response.data))
            this.obj = response.data
        })
        return {obj}
    },
    mounted(){
        
    },
    methods:{
    },
  }
</script>

<style scoped></style>