<template>
<div class="container">
    <br>
    <h1>Tambah Film</h1>
    <br>
    <form @submit.prevent="addData()">
      <div class="form-group">
        <label>Judul Film</label>
        <input
          type="textfield"
          class="form-control"
          placeholder="Masukkan Judul Film"
          v-model="form.judul"
          required
        >
      </div>
      <div class="form-group">
        <label>Harga Film</label>
        <input
          type="number"
          class="form-control"
          placeholder="Masukkan Harga Film"
          v-model="form.price"
          required
        >
      </div>
      <button class="btn btn-primary">Tambah</button>
    </form>
</div>
</template>
<script>
export default {
  data(){
        return{
        form:{
            judul: ''
        }
        }
    },
  methods: {
    addData() {
      // post data ke api menggunakan axios
      axios
        .post('/api/admin/film/register', {
          title: this.form.judul,
          price: this.form.price
        })
        .then(response =>{
            alert("Berhasil Tambah")
            this.$router.push({name: 'show'})
        })
        
    }
  }
};
</script>