<template>
<div class="container">
    <br>
    <h1>Ubah Film</h1>
    <br>
    <form @submit.prevent="editData()">
      <div class="form-group">
        <label>Judul Film</label>
        <input
          type="textfield"
          class="form-control"
          placeholder="Masukkan Judul Film"
          v-model="form.judul"
          required
        >
        <input
          type="hidden"
          class="form-control"
          v-model="form.id"
          required
        >
      </div>
      <!-- <div class="form-group">
        <label>Harga Film</label>
        <input
          type="textfield"
          class="form-control"
          placeholder="Masukkan Harga Film"
          v-model="form.price"
          required
        >
      </div> -->
      <button class="btn btn-primary">Ubah</button>
    </form>
</div>
</template>
<script>

export default {
  mounted(){
    axios
        .get('/api/admin/film/'+window.localStorage.getItem('idfilm'))
        .then(response =>{
            // alert(JSON.stringify(response.data))
            console.log(response.data.film.title)
            this.form.judul = response.data.film.title
            this.form.id = response.data.film.id
        })
    },
  data(){
        return{ 
        form:{
            judul: '',id: ''
        }
        }
    },
  methods: {
    editData() {
      // post data ke api menggunakan axios
      axios
        .put('/api/admin/film/update/'+this.form.id, {
          title: this.form.judul,
        })
        .then(response => {
            alert("Berhasil Diubah")
            this.$router.push({name: 'show'})
        })
        .catch(response =>{
            if(response.response.data.errors){
                alert(JSON.stringify(response.response.data.errors))
            } else {
                alert("Berhasil Diubah")
                this.$router.push({name: 'show'})
            }
        })
        
    }
  }
};
</script>