<template>
<div class="container">
    <br>
    <h1>Daftar Film</h1>
    <br>
    <button class="btn btn-primary" @click="add()">Tambah Film</button>
    <br>
    <br>
    <table id="app" class="display table" width="100%">
    <tbody>
        <tr>
            <td>id_film</td>
            <td>Judul Film</td>
            <td>Harga</td>
            <td>created_at</td>
            <td>updated_at</td>
            <td>Aksi</td>
        </tr>
        <tr v-for="item in obj" :key="item.id">
            <td> {{ item.id }}</td>
            <td> {{ item.title }}</td>
            <td> Rp. {{ item.price }},-</td>
            <td> {{ item.created_at}}</td>
            <td> {{ item.updated_at}}</td>
            <td> 
                <button class="btn btn-secondary" @click="edit(item.id)">Ubah</button>
                <button class="btn btn-danger" @click="deletee(item.id)">Hapus</button>
            </td>
        </tr>
    </tbody>
    </table>
</div>
</template>

<script>
var obj = [{id:'satu'},{id: 'dua'}]
  export default {
    data () {
        axios
        .get('/api/admin/film')
        .then(response =>{
            // alert(JSON.stringify(response.data))
            this.obj = response.data
        })
        return {obj}
    },
    mounted(){
    },
    methods:{
        
        add(){
                this.$router.push({name: 'add'})
            },
        edit(id){
                localStorage.setItem('idfilm',id)
                this.$router.push({name: 'edit'})
            },
        deletee(id){
                axios
                .delete('/api/admin/film/delete/'+id)
                .catch(response =>{
                    if(response.response.data.errors){
                        alert(JSON.stringify(response.response.data.errors))
                    }
                })
                .then(response =>{
                    alert("Berhasil Hapus")
                    axios
                    .get('/api/admin/film')
                    .then(response =>{
                        // alert(JSON.stringify(response.data))
                        this.obj = response.data
                    })
                })
            }
        },
  }
</script>

<style scoped></style>