<template>
<div>
    <br>
    <br>
        <form @submit.prevent="logout()">
            <button class="btn btn-danger">Logout</button>
        </form>
        <br>
        <h5>Selamat Datang, {{namaa}}</h5><br>
        <button class="btn btn-primary" @click="film()">Lihat Film</button>
        &nbsp; &nbsp; &nbsp; &nbsp; 
        <button class="btn btn-primary" @click="topup()">Topup User</button>
  </div>
</template>

<script>

    export default {
        
        mounted() {
            axios.defaults.headers.common['Authorization'] = `Bearer ${window.localStorage.getItem('admintoken')}`
            console.log(window.localStorage.getItem('admintoken'))
            console.log(this.$isLogin)
            axios
            .get('/api/admin/info',{
                token: `Bearer ${window.localStorage.getItem('admintoken')}`
            })
            .then(response =>{
                this['namaa'] = response.data.admin.name;
            })
        },
        data(){
            return{namaa:'heheheh'}
        },
        methods:{
        logout(){
                axios
                .post('/api/admin/logout', {
                    
                })
                .catch(response => {
                    alert(JSON.stringify(response))
                })
                .then(success => {
                    alert("Berhasil Logout")
                    this.$router.push({name: 'login'})
                })
            },
        topup(){
                this.$router.push({name: 'topup'})
            },
        film(){
            this.$router.push({name: 'show'})
        }
        }
    }
</script>
