<template>
<div class="container">
    <br>
    <h1>Topup Balance User</h1>
    <br>
    <button class="btn btn-primary" @click="dashboard()">Dashboard</button>
    <br>
    <br>
    <table id="app" class="display table" width="100%">
    <tbody>
        <tr>
            <td>id_user</td>
            <td>Nama</td>
            <td>Email</td>
            <td>No. Handphone</td>
            <td>Balance</td>
            <td>Aksi</td>
        </tr>
        <tr v-for="item in obj" :key="item.id">
            <td> {{ item.id }}</td>
            <td> {{ item.name }}</td>
            <td> {{ item.email }}</td>
            <td> {{ item.no_hp }}</td>
            <td> {{ item.balance}}</td>
            <td><button class="btn btn-primary" @click="topup(item.id)">Topup</button></td>
        </tr>
    </tbody>
    </table>
</div>
</template>
<script>
var obj = [{id:'satu'},{id: 'dua'}]
  export default {
    data () {
        axios
        .get('/api/admin/user')
        .then(response =>{
            // alert(JSON.stringify(response.data))
            console.log(response.data)
            this.obj = response.data
        })
        return {obj}
    },
    mounted(){
        
    },
    methods:{
        topup(id){
            localStorage.setItem('userid',id)
            this.$router.push({name: 'topupfield'})
        },
        dashboard(){
            this.$router.push({name: 'dashboard'})
        }
    },
  }
</script>

<style scoped></style>