<template>
<div class="container">
    <br>
    <h1>TopUp User</h1>
    <br>
    <form @submit.prevent="topup()">
      <div class="form-group">
        <label>Nominal TopUp</label>
        <input
          type="textfield"
          class="form-control"
          placeholder="Masukkan Nominal"
          v-model="form.nominal"
          required
        >
        <input
          type="hidden"
          class="form-control"
          v-model="form.id"
          required
        >
      </div>
      <button class="btn btn-primary">TopUp</button>
    </form>
</div>
</template>
<script>
var obj = 'haha'
const t = this
export default {
  mounted(){
    this.form.id = window.localStorage.getItem('userid')
    },
  data(){
        return{ 
        form:{
            judul: '',id: ''
        }
        }
    },
  methods: {
    topup() {
      // post data ke api menggunakan axios
      axios
      .post('/api/admin/topup/'+this.form.id,{
          balance: this.form.nominal
      })
      .then(response => {
          alert('Berhasil Topup')
          this.$router.push({name:'topup'})
      })
        
    }
  }
};
</script>